// variables:

// color:

$header-color: rgb(178, 159, 248);
$main-color: rgb(243, 193, 239);
$main-color-btn: rgb(59, 11, 59);
$footer-color: rgb(111, 206, 127);
$font-color: rgb(14, 17, 14);
$card-color: rgb(253, 181, 247);

// size:
$breakpoint-xs: 360px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;

@mixin media($media) {
  @if $media == xs {
    @media (max-width: $breakpoint-sm) { @content; }
  }
  @else if $media == sm {
    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) { @content; }
  }
  @else if $media == md {
    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) { @content; }
  }
  @else if $media == lg {
    @media (min-width: $breakpoint-lg) { @content; }
  }
}